# Ignore node_modules in the root directory
node_modules/

# Ignore node_modules in the 'clients/user' folder
./client/node_modules/

# Ignore env in the 'clients/user' folder
./client/.env

# Ignore node_modules in the 'openai' folder
./server/node_modules/

# Ignore env in the 'openai' folder
./server/.env